# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker
.dockerignore

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log

# Wallet files
wallet/
*.wallet

# Database files
*.db
*.sqlite3

# Redis dump files
dump.rdb